body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    margin: 0;
    padding: 0;
}

.black-title {
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.blue-title {
    color: #32425c;
    font-weight: 400;
    text-transform: uppercase;
}

.main-header {
    background-color: #f4f7f9;
}

.header-logo h1 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;

}

.header-logo {
    box-shadow: 0 5px 0 0 #b52933;
    display: inline-block;
    background-color: #ee3643;
    padding: 11px 55px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.button {
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
} 

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.user-block {
    background-color: #ffffff;
    width: 255px;
    padding: 11px;
    text-align: center;
}

header .header-logo:active {
    background-color: #ba2732;
}

.header-top {
    background-color: #293449;
}
.user-panel {
    position: relative;
    padding-left: 50px;
}

.search-label {
    position: absolute;
    top: 15px;
    left: 17px;
    z-index: 20;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -106px -1px;
    cursor: pointer;
}

input[type="search"] {
    width: 250px;
    background-color: #293449;
    border: none;
    padding: 14px 0;
}

input[type="search"]:hover {
    background-color: #212a3a;    
}

input[type="search"]:focus {
    background-color: #ffffff;
    
}

input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;    
}

.user-panel-marks:hover {
    background-color: #212a3a;
}

.user-panel-marks:active {
    background-color: #161d29;
    color: #8b8e94;
}

.user-panel-marks {
    position: relative;
    text-align: center;
    padding: 14px 0;
    width: 150px;
    font-size: 17px;
    line-height: 18px;
}

.user-panel-marks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -53px 1px;
}

.user-panel-buy {
    background-color: #63a63e;
    position: relative;
    text-align: center;
    padding: 14px 0;
    width: 150px;
    font-size: 17px;
    line-height: 18px;
}

.basket {
    position: relative;
    text-align: center;
    padding: 14px 0px;
    width: 150px;
    font-size: 17px;
    line-height: 18px;
}

.basket:hover {
    background-color: #212a3a;
}

.basket-order {
    background-color: #ee3643;
}

.basket:active {
    background-color: #161d29;
    color: #8b8e94;
}

.user-panel-buy:hover {
    background-color: #5fbb2d;
}

.user-panel-buy:active {
    background-color: #518534;
    color:#aac39b;
}

.user-navigation-list a:hover {
    color: #ee3643;
}

.user-navigation-list a:active {
    color: #b7b7b7;
}

.information {
    padding-left: 20px;
    padding-top: 4px;
}
.information a:hover {
   color: #ee3643;
}

.information a:active {
   color: #cbd1d8;
}

.site-navigation-item a:hover {
    background-color: #293449;
}

.site-navigation-item a:active {
    background-color: #1d2739;
    color: #868c95;
}

.offers-item a:hover {
    background-color: #cccccc;
}

.offers-item a:active {
    background-color: #b2b2b2;
}

.sorting-list a:hover {
    color: #231f20;
     border-bottom: 1px solid #ee3643;
}

.sorting-list a:active {
    color: #ee3643;
    border-bottom: none;
}


.sorting-list a {
    color: #c7c7c7;
    text-transform: uppercase;
    border-bottom: 1px dashed #ee3643;
}

.sorting-list .sorting-up {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background: url(../img/sprite.png) no-repeat;
    background-position: -254px -149px;
}

.sorting-list .active-list {
    margin-left: 80px;
    color: #ee3643;
}

.sorting-list .sorting-down {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background: url(../img/sprite.png) no-repeat;
    background-position: -256px -200px;
    margin-left: 20px;
}

.sorting-list .sorting-up:hover {
    border: none;
    background-position: -301px -248px;
}

.sorting-list .sorting-down:hover {
    background-position:-255px -248px;
    border: none;
}

.catalog-page-list a:hover {
    border: 1px solid #bdc6ca;
}

.catalog-page-list a:active {
    border: 1px solid #ee3643;
}

.active-page {
    background-color: #ee3643;
}

.category-service-list label{
    display: block;
}

.category-service-list label:hover {
    background-color: #293449;
}

.category-service-list label:active {
    background-color: #ffffff;
    color: #32425c;
}

.add-product-button {
    padding: 36px 70px;
    background-color: #f1f1f1;
}

.add-product-button a {
    font-size: 14px;
    line-height: 18px;
    color: black;
     background-color: #ffffff;
}

.add-product-button .active-btn {
    color: #ffffff;
    background-color: #ee3643;
}

.add-product-button .active-btn:hover {
    background-color: #ca2c37;
}

.add-product-button .active-btn:active {
    background-color: #ba2732;
}

.add-product-button .btn:hover {
    background-color: #ca2c37;
}

.add-product-button .btn:active {
    background-color: #ba2732;
}

.login {
    position: relative;
    font-size: 21px;
    line-height: 21px;
    color: #222222;
}

.login::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -32px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -303px -46px;
}

.login::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 202px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -306px 2px;
}


.user-block a:active {
    color: #b2b2b2;
}

.point {
    width: 5px;
    height: 5px;
    margin-left: 15px;
    margin-bottom: 2px;
    background: #32425c;
    border-radius: 50px;
}

.information a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.business-card-text {
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
    font-style: italic;
    margin: 0;
}

.business-card-phone {
    display: inline-block;
    font-size: 21px;
    line-height: 21px;
    color: #ee434f;
    border: 3px solid #ffffff;
    width: 268px;
    vertical-align: top;
    text-align: center;
    padding: 8px 0;
}

.business-card-address {
    margin: 0;
    padding: 14px 0;
    font-size: 14px;
    line-height: 0px;
    color: #32425c;
    text-align: center;
}

.user-navigation-list a{
    font-size: 21px;
    line-height: 21px;
    color: #000000 ;
}

.user-navigation-item-login {
    background-color: #ffffff;
}

.user-navigation-item-registration{
     background-color: #ffffff;
}

ul {
    list-style: none;
}

.site-navigation-list {
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
}

.materials {
    background-color: #ffbf47;
    background-image: url(../img/materials-icon.png);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.offers .materials-link {
    background-color: #e5ac40;
}

.instruments {
    background-color: #3bbce3;
    background-image: url(../img/tool-icon.png);
    background-repeat: no-repeat;
    background-position: 196px 33px;
}

.offers .instruments-link {
    background-color: #35a9cc;
}

.technics {
    background-color: #dc91d8;
    background-image: url(../img/technics-icon.png);
    background-repeat: no-repeat;
    background-position: 190px 33px;
}

.offers .technics-link {
    background-color: #c682c2;
}

.sales {
    background-color: #8ed78f;
    background-image: url(../img/discounts-icon.png);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.offers .sales-link {
    background-color: #80c180;
}

.delivery-free {
    background-color: #ffc047;
    background-image: url(../img/delivery-icon.png);
    background-repeat: no-repeat;
    background-position: 190px 32px;
}

.offers .delivery-link {
    background-color: #e5ac40;
}

.offers .slide-title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slide-text span {
    margin-left: 24px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.open-catalog {
    position: absolute;
    bottom: 22px;
    left: 25px;
    padding: 12px 45px 12px 49px;
}

.popular-technic {
    background-color: #f9f5f0;
}

.goods-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-goods-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.oldprice {
    font-size: 17px;
    line-height:18px;
    color: #a9a9a9;
}

.price {
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
    font-size: 17px;
    line-height:18px;
    background-color: #ee3643;
}

.price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.drill-actions {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height:18px;
}

.drill-actions .in-bookmark {
   color: #32425c;
   border: 3px solid #63a63e;
   background-color: white;
} 

.in-bookmark:hover {
   color: #32425c;
   border: 3px solid #32425c;
} 

.in-bookmark:active {
   color: #c5cad1;
   border: 3px solid #c1c6ce;
} 

.drill-actions a {
    display:block;
    width:129px;
    margin:0 auto;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    margin-bottom:7px;
    font-weight:normal;
    text-transform:uppercase;    
    border-radius:3px;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
}

article .btn {
    background-color: #ee3643;
   
}

.popular-label {
    background-color: #f9f5f0;
}

.brands-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-brands-item {
    width: 220px;
    height: 145px;
    border: 1px solid #ebebeb;
    align-items: center;
    justify-content: center;
    display: flex;
}

.service {
    background-color: #f4f7f9;
    padding-top: 65px;
}

.service p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 22px;
}

.service h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.category-service-list {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

.category-service-item {
    background-color: #32425c;
    
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.delivery-brand-list {
    font-size: 18px;
    line-height: 24px;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

footer {
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
    color: #ffffff;
}



.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation-list-top a:active {
    color: #85909f;
}

.footer-navigation-list-bottom a {
    color: #ffd180;
}

.footer-navigation-list-bottom a:active {
    color: #92856d;
}

.footer-down {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.communication a {
    color: #ffd180;
}
 
.communication a:active {
    color: #ee3643;
}

.communication a:hover {
    text-decoration: underline;
}


.main-header {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    margin-bottom: 59px;
}

.catalog-header {
    margin: 0;
    background-color: #f4f7f9;
    padding: 0;
    padding-bottom: 60px;
}

.header-top-wrapper {
    width: 100%;
    background-color: #293449;
}

.header-top {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;   
}


.header-center {
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 41px;
}

.business-card {
    margin-left: 52px; 
}

.user-navigation-list {
    display:flex;
    margin: 0;
    padding-left: 0;
}

.user-navigation-item-login {
    margin-right: 10px;
}

.user-navigation-list a {
    display: inline-block;
    position: relative;
}

.user-navigation-item-login a {
    padding: 14px 27px 14px 48px;
}

.user-navigation-item-login a::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 14px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -304px -98px;
}

.user-navigation-item-registration a {
    padding: 14px 25px 14px 25px;
}
.site-navigation {
    width: 940px;
    margin: 0 auto;
    
}

.site-navigation-list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;  
    border-bottom: 5px solid #293449;
    margin: 0;
    flex-wrap: wrap;
}

.site-navigation-list a {
    display: flex;
    padding: 17px 33px;
}

.offers {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 940px;
    flex-wrap: wrap;
}

.offers-item {
    margin-bottom: 20px;
    width: 300px;
}

.slider {
    position: relative;
    width: 621px
}

.slide-drill {
    position: absolute;
    background-image: url(../img/slider-1.jpg);
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
}


.slide-perforators {
    position: absolute;
    background-image: url(../img/slider-2.jpg);
    width: 100%;
    height: 260px;
    display: none;
    background-repeat: no-repeat;
}

.arrow-left::before {
    content: "";
    position: absolute;
    z-index: 20;
    left: 22px;
    top: 123px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
}

.arrow-left::after,
.arrow-right::after,
.arrow-right::before {
    content: "";
    position: absolute;
    z-index: 20;
    top: 140px;
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
}

.arrow-left::after {
    left: 22px;
    transform: rotate(45deg);
}

.arrow-right::after {
    top: 123px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 17px;
}

.arrow-right::before {
    right: 17px;
    transform: rotate(-45deg);
}

.arrow-right:active .slide-perforators  {
    display: block;
}

.arrow-right:active  .slide-drill {
    display: none;
}

.arrow-left:active .offers .slide-drill {
    display: block;
}

.arrow-left:active  .offers .slide-perforators {
    display: none;
}

.delivery-free {
    align-self: flex-end;
    margin-left: auto;
}

.popular-technic {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
    align-items: center; 
    margin-bottom: 20px;
}

.goods-title {
    margin-left: 30px;
}

.popular-technic a {
    width: 254px;
    padding: 12px 0;
    margin-right: 24px;
    border-radius: 3px;
}

.popular-goods-list {
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
    align-items: flex-start;

}

.popular-goods-item {
    position: relative;
    text-align: center;
    width: 218px;
    border: 1px solid #eaeaea;
}

.popular-goods-item:nth-child(1) img{
    margin: 0;
}

.popular-goods-item:nth-child(3) img{
    margin: 15px;
}

.popular-goods-item:nth-child(2) img{
    margin: 26px;
}

.popular-goods-item:nth-child(4) img{
    margin: 26px;
}

.popular-goods-item:nth-child(4) .price{
    margin-top: 45px;
}
.popular-goods-item:hover .drill-actions {
    display: block;
}

.popular-label {
     display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
    align-items: center; 
    margin-bottom: 20px;
}

.popular-label a {
    width: 254px;
    padding: 12px 0;
    margin-right: 24px;
    border-radius: 3px;
}

.brands-title {
    margin-left: 30px;
}

.popular-brands-list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: auto;
    margin-bottom: 60px;
    padding: 0;
    justify-content: space-between;
}

.popular-brands-item {
    margin-bottom: 20px;
}

.offers h2 {
    margin: 23px 0 0 23px;
    background: 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff
}

.offers-link {
    display: inline-block;
    padding: 10px 0;
    width: 135px;
    margin: 15px 25px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    background: rgba(0,0,0,.1);
    font-size: 14px;
    line-height: 18px;
}

.services {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.services-title {
    margin: 0;
    margin-bottom: 22px;
}

.service-menu {
    justify-content: space-between;
    display:flex;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    /* padding-bottom: 100px; */
}

.category-service-item {
    width: 240px; 
}

.garant-block p {
    width: 280px;
}

.category-service-item label {
    padding: 15px 23px;   
}

.service-content-list {
    position: relative;
    padding-left: 80px;
    width: 620px;
}

.delivery-block {
    position: absolute;
    background-image: url(../img/bg-delivery.png);
    background-position: 60% 45%;
    background-repeat: no-repeat;
    display: block;
}

.garant-block {
    position: absolute;
    background-image: url(../img/garant.png);
    background-position: 60% -10%;
    background-repeat: no-repeat;
    display: none;
}

.loan-block {
    position: absolute;
    background-image: url(../img/bg-credit.png);
    background-position: 70% -10%;
    background-repeat: no-repeat;
    display: none;
}

.loan-block p {
    width: 280px;
}

.application {
    display: inline-block;
    padding: 12px 43px;
    border-radius: 3px;
    margin-top: 15px;
}

.service-content-item {
    width: 100%;
    height: 100%;
}

.about-company {
    padding-bottom: 85px;
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 85px;
}

.company {
    width: 535px;
}

.more-info {
    padding: 12px 41px;
}

.delivery-brand-item {
    padding: 9px 0;
    position: relative;
}

.delivery-brand-item::before {
    content: '';
    position: absolute;
    left: -40px;
    top: 19px;
    display: block;
    width: 25px;
    height: 2px;
    background: #fb565a;
}
.contacts a {
    display: block;
    padding: 12px 61px;       
}

 .contacts {
     width: 300px;
}

.contacts .make-map  {
    padding-left: 0;
}

.footer-up {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
}

.social a {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background: #212a3a;
    border-radius: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.social :before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -153px 0;
}

.social-button-fb::before, .social-button-inst::before {
    background-position: -156px -49px;
}

.social-button-inst::before {
    background-position: -156px -100px;
}

.social a:hover,
.social a:active {
    background-color: #ee3643;
}
.logo-footer a {
    display: inline-block;
    padding: 18px 41px 15px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.new:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.footer-navigation-list-top {
    display: flex;
    width: 550px;
    justify-content: space-between;
    padding-left: 0;
}

.footer-navigation-list-bottom {
    display: flex;
    justify-content: space-between;  
}

.footer-down {
    padding: 40px;
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
}

.social {
    margin-left: 30px;
}
.made-in {
    margin-left: 50px;
    margin-right: 14px;
}
.footer-down-wrapper {
     background-color: #293449;
}

.communication {
    display: flex;
}

.drill-header {
    background-color: #f2f6f8;
    width: 940px;
    margin: auto;
    margin-bottom: 20px;
}

.breadcrumbs-list {
    width: 940px;
    margin: 23px auto;
}

.breadcrumbs-item {
    text-transform: uppercase;
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    color:#000000;
    font-size: 13px;
    line-height: 18px;
}

.drill-blue {
    text-transform: uppercase;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c; 
    margin: 0;
    font-weight: 400;
}

.catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: auto;
}

.visually-hidden {
    display: none;

}
.sorting {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.sorting-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    width: 700px;
    background-color: #f7f3ec;
    border-radius: 2px;
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.sorting-item {
    padding: 8px 0;
}

.filter {
    width: 220px;
}

.title-filter {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 18px;
    background-color: #f7f3ec;
    margin: 0;
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    color:#000000;
    font-size: 13px;
    line-height: 18px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 25px;
}

.range-filter {
  position: relative;
  width: 220px;
  margin-top: 40px;
}

.filter-item legend {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f7f3ec;
  padding-top: 39px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;  
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  text-indent: 100%;
  overflow: hidden;
}

.max-price input {
   margin-left: 23px;
}

.max-price::after {
    content: "";
    position: absolute;
    left: 105px;
    bottom: 15px;
    width: 10px;
    height: 1px;
    background: black;
}

.price-controls input {
  width: 65px;
  padding: 8px 10px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.by-firm-filter {
    font-family:"PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    border-top: 1px solid #f7f3ec;
    padding-top: 17px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f7f3ec;
}

.firm-list  {
    padding-left: 0;
    position: relative;
}

.firm-list input[type=checkbox]+label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;
    cursor: pointer;
}

.firm-list input[type=checkbox]:checked+label::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: 0;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -195px;
}

.firm-list input[type=checkbox]+label::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: 0;
    background: url(../img/sprite.png) no-repeat;
    background-position: -55px -194px;
}

.firm-list input[type=checkbox], .source-list input[type=radio] {
    display: none;
}

.source {
    font-family:"PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 25px;
}

.source-list input[type=radio]+label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 34px;
}

.source-list input[type=radio]+label::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: -1px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -153px -143px;
}

.source-list input[type=radio]:checked+label::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: -2px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -101px -193px;
}

.source-list {
    padding-left: 0;
}

.btn-show {
    margin-top: 55px;
    padding: 11px 38px 8px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}
.catalog-drill {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drill {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 218px;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-weight: 700;
}

.drill:nth-of-type(3n) .price {
    margin-top: 46px;
    margin-bottom: 0;
}

.new {
    position: relative;
}

.drill-image {
    width:218px;
    height:168px;
}

.drill-image img{
    max-width:100%;
    margin-top:20px;
}

.drill:nth-child(3n) img {
    margin-top: 12px;
}

h3 {
    margin: 0;
}

.drill-title {
    min-height:40px;
    padding:0 25px;
    /* margin-top:10px; */
    margin-bottom:15px;
}

.drill-actions {
    display: none;
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.drill:hover .drill-actions {
    display: block;
}

.oldprice {
    display: block;
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.modal-add-product {
    display: none;
    width: 620px;
    background-color: #ffffff;
    border-top: 6px solid #ee3643;
    text-align: center;
}

.title-add-product {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;  
}

.add-product-button a {
    text-transform: uppercase;
    padding: 12px 59px;
    font-size: 14px;
    border-radius: 3px;
    line-height: 18px;
}

.catalog-page-list {
    margin: 50px 0 50px 0;
    display: flex;
    padding-left: 0;
}

.catalog-page-list a {
    margin-right: 20px;
    color: #000;
    padding: 9px 14px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.catalog-page-list .previous::checked {
    background-color: #ee3643;
}
.about-drill {
    background-color: #f2f6f8
}

.container-about {
    padding: 65px 0;
    width: 940px;
    margin: auto;
}

.title-about {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.form-filter {
    margin-top: 20px;
    width: 220px;
}

.delivery-paragraf {
    width: 275px;
    padding-top:20px;
}
.paragraf-about {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    padding-top: 30px;
}

.communication p {
    margin: 0;
}

.copyright p {
    margin: 0;
}

.copyright {
    width: 235px;
}

