body {
    margin: 0;
    padding: 0;
    width: 1280px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    width: 940px;
}

.black-title {
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}
.blue-title {
    color: #32425c;
}

.main-header {
    background-color: #f4f7f9;
}

.header-logo h1{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    background-color: #ee3643;
}
 
.button {
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
} 
.user-panel {
    background-color: #293449;
}
.user-panel-buy {
    background-color: green;
}

.business-card-text {
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
    font-style: italic;
}

.business-card-phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee434f;
    border: 2px solid #ffffff;
}

.business-card-adress {
    font-size:14px;
    line-height: 24px;
    color: #4c5a71;
}

.user-navigation-list {
    font-size: 21px;
    line-height: 21px;
    color: #000000 ;
}

.user-navigation-item-login {
    background-color: #ffffff;
}

.user-navigation-item-registration{
     background-color: #ffffff;
}
ul {
    list-style: none;
}
.site-navigation-list {
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
}

.offers h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.offers a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.materials {
    background-color: #ffbf47;
}
.offers .materials-link {
    background-color: #e5ac40;
}

.instruments {
    background-color: #3bbce3;
}
.offers .instruments-link {
    background-color: #35a9cc;
}

.technics {
    background-color: #dc91d8;
}
.offers .technics-link {
    background-color: #c682c2;
}

.sales {
    background-color: #8ed78f;
}
.offers .sales-link {
    background-color: #80c180;
}

.delivery-free {
    background-color: #ffc047;
}
.offers .delivery-link {
    background-color: #e5ac40;
}

.slide-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.slide-title span {
    font-size: 18px;
    line-height: 24px;
}

.popular-technic {
    background-color: #f9f5f0;
}

.goods-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-goods-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.oldprice {
    font-size: 17px;
    line-height:18px;
    color: #a9a9a9;
}

.price {
    font-size: 17px;
    line-height:18px;
    background-color: #ee3643;
}

.drill-actions {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height:18px;
}

.in-bookmark {
   color: #32425c;
} 

.make-buy {
    background-color: #63a63e;
}

.popular-label {
    background-color: #f9f5f0;
}

.brands-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-brands-item {
    width: 220px;
    height: 145px;
    border: 1px solid #ebebeb;
    display: inline-flex;
    align-items: center;
    justify-content: center;    
}

.service {
    background-color: #f4f7f9;
}

.service p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.service h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
}

.category-service-list {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.category-service-item {
    background-color: #32425c;
    
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.delivery-brand-list {
    font-size: 18px;
    line-height: 24px;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

footer {
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
    color: #ffffff;
    width: 1280px;

}

.logo-footer h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    background-color: #ee3643;    
}

.footer-navigation-list-bottom a {
    color: #ffd180;
}

.footer-down {
     font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.communication a {
    color: #ffd180;
}
 