body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    margin: 0;
    padding: 0;
}

.black-title {
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.blue-title {
    color: #32425c;
}

.main-header {
    background-color: #f4f7f9;
}

.header-logo h1 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.header-logo {
    display: inline-block;
    background-color: #ee3643;
    padding: 11px 55px;
}

.button {
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
} 

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.header-logo h1:hover {
    background-color: #ca2c37;
}

.user-block {
    background-color: #ffffff;
    width: 300px;
    padding: 12px;
    text-align: center;
}

.header-logo h1:active {
    background-color: #ba2732;
}

.header-top {
    background-color: #293449;
}

input[type="search"] {
    background-color: #293449;
    border: none;
}

input[type="search"]:hover {
    background-color: #212a3a;    
}

input[type="search"]:focus {
    background-color: #ffffff;
    
}

input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;    
}

.user-panel-marks:hover {
    background-color: #212a3a;
}

.user-panel-marks:active {
    background-color: #161d29;
    color: #8b8e94;
}

.user-panel-buy {
    background-color: #63a63e;
    padding: 14px 20px;
}

.basket:hover {
    background-color: #212a3a;
}

.basket-order {
    padding: 14px 26px;
    background-color: #ee3643;
}

.basket:active {
    background-color: #161d29;
    color: #8b8e94;
}

.user-panel-buy:hover {
    background-color: #5fbb2d;
}

.user-panel-buy:active {
    background-color: #518534;
    color:#aac39b;
}

.user-navigation-list a:hover {
    color: #ee3643;
}

.user-navigation-list a:active {
    color: #b7b7b7;
}

.information a:hover {
   color: #ee3643;
}

.information a:active {
   color: #cbd1d8;
}

.site-navigation-item a:hover {
    background-color: #293449;
}

.site-navigation-item a:active {
    background-color: #1d2739;
    color: #868c95;
}

.materials a:hover,
.instruments a:hover,
.technics a:hover,
.sales a:hover,
.delivery-free a:hover {
    background-color: #cccccc;
}

.materials a:active,
.instruments a:active,
.technics a:active,
.sales a:active,
.delivery-free a:active {
    background-color: #b2b2b2;
}

.sorting-list a {
    color: #c7c7c7;
    text-transform: uppercase;
    border-bottom: 1px dashed #ee3643;
}

.sorting-list a:hover {
    color: #231f20;
     border-bottom: 1px solid #ee3643;
}

.sorting-list a:active {
    color: #ee3643;
    border-bottom: none;
}

.catalog-page-list a {
    border: 1px solid #e5e5e5;
}

.catalog-page-list a:hover {
    border: 1px solid #bdc6ca;
}

.catalog-page-list a:active {
    border: 1px solid #ee3643;
}

.previous:active {
    background-color: #ee3643;
}

.category-service-list label{
    display: block;
}

.category-service-list label:hover {
    background-color: #293449;
}

.category-service-list label:active {
    background-color: #ffffff;
    color: #32425c;
}

.catalog-page-list a {
    color: black;
}

.add-product-button {
    padding: 36px 70px;
    background-color: #f1f1f1;
}

.add-product-button a {
    font-size: 14px;
    line-height: 18px;
    color: black;
     background-color: #ffffff;
}

.add-product-button .active-btn {
    color: #ffffff;
    background-color: #ee3643;
}

.add-product-button .active-btn:hover {
    background-color: #ca2c37;
}

.add-product-button .active-btn:active {
    background-color: #ba2732;
}

.add-product-button .btn:hover {
    background-color: #ca2c37;
}

.add-product-button .btn:active {
    background-color: #ba2732;
}

.active-page {
    background-color: #ee3643;
}

.user-block a {
    font-size: 21px;
    line-height: 21px;
    color: #222222;
}

.user-block a:active {
    color: #b2b2b2;
}

.information a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.business-card-text {
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
    font-style: italic;
    margin: 0;
}

.business-card-phone {
    display: inline-block;
    font-size: 21px;
    line-height: 21px;
    color: #ee434f;
    border: 3px solid #ffffff;
    width: 268px;
    vertical-align: top;
    text-align: center;
    padding: 8px 0;
}

.business-card-address {
    font-size: 14px;
    line-height: 0px;
    color: #32425c;
    text-align: center;
}

.user-navigation-list a{
    font-size: 21px;
    line-height: 21px;
    color: #000000 ;
}

.user-navigation-item-login {
    background-color: #ffffff;
}

.user-navigation-item-registration{
     background-color: #ffffff;
}

ul {
    list-style: none;
}

.site-navigation-list {
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
}

.offers h2 {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.offers a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.materials {
    background-color: #ffbf47;
}

.offers .materials-link {
    background-color: #e5ac40;
}

.instruments {
    background-color: #3bbce3;
}

.offers .instruments-link {
    background-color: #35a9cc;
}

.technics {
    background-color: #dc91d8;
}

.offers .technics-link {
    background-color: #c682c2;
}

.sales {
    background-color: #8ed78f;
}

.offers .sales-link {
    background-color: #80c180;
}

.delivery-free {
    background-color: #ffc047;
}

.offers .delivery-link {
    background-color: #e5ac40;
}

.slide-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.slide-title span {
    font-size: 18px;
    line-height: 24px;
}

.popular-technic {
    background-color: #f9f5f0;
}

.goods-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-goods-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.oldprice {
    font-size: 17px;
    line-height:18px;
    color: #a9a9a9;
}

.price {
    font-size: 17px;
    line-height:18px;
    background-color: #ee3643;
}

.drill-actions {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height:18px;
}

.in-bookmark {
   color: #32425c;
   border: 3px solid #63a63e;
} 

.in-bookmark:hover {
   color: #32425c;
   border: 3px solid #32425c;
} 

.in-bookmark:active {
   color: #c5cad1;
   border: 3px solid #c1c6ce;
} 

.buy {
    background-color: #63a63e;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
}

article .btn {
    background-color: #ee3643;
   
}

.popular-label {
    background-color: #f9f5f0;
}

.brands-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-brands-item {
    width: 220px;
    height: 145px;
    border: 1px solid #ebebeb;
    align-items: center;
    justify-content: center;
    display: flex;
}

.service {
    background-color: #f4f7f9;
}

.service p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.service h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.category-service-list {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.category-service-item {
    background-color: #32425c;
    
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.delivery-brand-list {
    font-size: 18px;
    line-height: 24px;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

footer {
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
    color: #ffffff;
}

.logo-footer h1 {
    width: 220px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    background-color: #ee3643;
    margin: 0;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation-list-top a:active {
    color: #85909f;
}

.footer-navigation-list-bottom a {
    color: #ffd180;
}

.footer-navigation-list-bottom a:active {
    color: #92856d;
}

.footer-down {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.communication a {
    color: #ffd180;
}
 
.communication a:active {
    color: #ee3643;
}

.communication a:hover {
    text-decoration: underline;
}


.main-header {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    margin-bottom: 59px;
}

.catalog-header {
    margin: 0;
    background-color: #f4f7f9;
    padding: 0;
    padding-bottom: 60px;
}

.header-top-wrapper {
    width: 100%;
    background-color: #293449;
}

.header-top {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;   
}


.header-center {
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 41px;
}

.business-card {
    margin-left: 52px; 
}

.user-navigation-list {
    display:flex;
    margin: 0;
}

.user-navigation-item-login {
    margin-right: 10px;
}

.user-navigation-list a {
    display: inline-block;
    padding: 14px 25px;
    vertical-align: top;
}


.site-navigation {
    width: 940px;
    margin: 0 auto;
    
}

.site-navigation-list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;  
    border-bottom: 5px solid #293449;
}

.site-navigation-list a {
    display: flex;
    padding: 17px 33px;
}

.offers {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 940px;
    flex-wrap: wrap;
}

.materials,
.instruments,
.technics,
.sales,
.delivery-free {
    margin-bottom: 20px;
    padding: 22px;
}


.slider {
    width: 621px
}

.delivery-free {
    align-self: flex-end;
    margin-left: auto;
}

.popular-technic {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
    align-items: center; 
    margin-bottom: 20px;
}

.goods-title {
    margin-left: 30px;
}

.popular-technic a {
    width: 254px;
    padding: 12px 0;
    margin-right: 24px;
    border-radius: 3px;
}

.popular-goods-list {
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
}

.popular-goods-item {
    width: 218px;
    border: 1px solid #eaeaea;
}

.popular-label {
     display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
    align-items: center; 
    margin-bottom: 20px;
}

.popular-label a {
    width: 254px;
    padding: 12px 0;
    margin-right: 24px;
    border-radius: 3px;
}

.brands-title {
    margin-left: 30px;
}

.popular-brands-list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: auto;
    padding: 0;
    justify-content: space-between;
}

.popular-brands-item {
    margin-bottom: 20px;
}

.offers h2 {
    margin: 0;
    background: 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.offers a {
    display: inline-block;
    width: 135px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    background: rgba(0,0,0,.1);
}

.services {
    width: 940px;
    margin: 0 auto;
}

.service-menu {
    display:flex;
    align-items: flex-start;
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.category-service-list {
    padding: 0;
}

.category-service-item {
    width: 240px; 
}

.category-service-item label {
    padding: 15px 23px;   
}

.service-content-item {
    width: 276px;
}

.about-company {
    padding-bottom: 85px;
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.company {
    width: 535px;
}

.more-info {
    padding: 12px 41px;
}

.delivery-brand-item {
    padding: 9px 0;
}

.contacts a {
    display: block;
    padding: 12px 61px;       
}

 .contacts {
     width: 300px;
}

.contacts .make-map  {
    padding-left: 0;
}

.footer-up {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo-footer a {
    display: inline-block;
    padding: 20px 37px;
}

.footer-navigation-list-top {
    display: flex;
    width: 550px;
    justify-content: space-between;
    padding-left: 0;
}

.footer-navigation-list-bottom {
    display: flex;
    justify-content: space-between;  
}

.footer-down {
    padding: 0;
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
}

.footer-down-wrapper {
     background-color: #293449;
}

.communication {
    display: flex;
}

.drill-header {
    background-color: #f2f6f8;
    width: 940px;
    margin: auto;
    margin-bottom: 20px;
}

.breadcrumbs-list {
    width: 940px;
    margin: 23px auto;
}

.breadcrumbs-item {
    text-transform: uppercase;
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    color:#000000;
    font-size: 13px;
    line-height: 18px;
}

.drill-blue {
    text-transform: uppercase;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c; 
    margin: 0;
    font-weight: 400;
}

.catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: auto;
}

.visually-hidden {
    display: none;

}
.sorting {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.sorting-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    width: 700px;
    background-color: #f7f3ec;
    border-radius: 2px;
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.sorting-item {
    padding: 8px 0;
}

.filter {
    width: 220px;
}

.title-filter {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 18px;
    background-color: #f7f3ec;
    margin: 0;
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    color:#000000;
    font-size: 13px;
    line-height: 18px;
}

.sorting-item span {
    color:#000000;
}

.catalog-drill {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drill {
    margin-top: 20px;
    width: 219px;
    border: 1px solid #e5e5e5;
    /* margin-bottom: 20px; */
}

h3 {
    margin: 0;
}

.modal-add-product {
    display: none;
    width: 620px;
    background-color: #ffffff;
    border-top: 6px solid #ee3643;
     text-align: center;
}

.title-add-product {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;  
}

.add-product-button a {
    text-transform: uppercase;
    padding: 12px 59px;
    font-size: 14px;
    border-radius: 3px;
    line-height: 18px;
}

.catalog-page-list {
    margin: 50px 0 50px 0;
    display: flex;
    padding-left: 0;
}

.catalog-page-list li {
    margin-right: 20px;
}

.about-drill {
    background-color: #f2f6f8
}

.container-about {
    padding: 65px 0;
    width: 940px;
    margin: auto;
}

.title-about {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.form-filter {
    margin-top: 20px;
    width: 220px;
}

.paragraf-about {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    padding-top: 30px;
}